<%= form_with(model:@team,local:true) do |f| %>
  <%= f.label :image,'チームプロフィール画像' %>
  <div class="preview_image">
    <% if @team.image.attached? && @team.image.present? %>
      <%= image_tag(@team.image, id:"preview", class:"team_preview" ) %>
      <% if @team.id != nil %>
        <span class="center">
          <span class="btn btn-red">
            <%= link_to "画像を削除", destroy_image_team_path(@team.id), method: :patch %>
          </span>
        </span>
      <% end %>
    <% else %>
      <%= image_tag("default_team_image.png", id:"preview", class:"team_preview" ) %>
      <% if @team.id != nil %>
        <span class="center">
          <span class="btn btn-red">
            <%= link_to "画像を削除", destroy_image_team_path(@team.id), method: :patch%>
          </span>
        </span>
      <% end %>
    <% end %>
  </div>
  <label class="file-select btn-navy">
    <%= f.file_field :image, accept: "image/jpg,image/gif,image/png",id: "preview_image" %>ファイルを選択
  </label>
  <%= render 'shared/form_error_messages', object: f.object, attribute: :image %>
  <%= f.label :name,'チーム名' %>
  <%= f.text_field :name %>
  <%= render 'shared/form_error_messages', object: f.object, attribute: :name %>
  <%= f.label :level,'チームレベル' %>
  <div class="selectbox">
    <%= f.select :level, team_levels, prompt: "選択してください" %>
  </div>
  <%= render 'shared/form_error_messages', object: f.object, attribute: :level %>
  <%= f.label :prefecture_id,'活動エリア' %>
  <div class="selectbox">
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください") %>
  </div>
  <%= render 'shared/form_error_messages', object: f.object, attribute: :prefecture_id %>
  <p>活動曜日</p>
  <span class="checkbox-inline">
    <% weekly_columns.each_with_index do |day,i| %>
      <%= f.check_box day.to_sym , {} ,"true", "false" %>
      <%= f.label day.to_sym , ["月","火","水","木","金","土","日"][i] %>
    <% end %>
  </span>
  <%= render 'shared/form_error_messages', object: f.object, attribute: :weekly %>
  <%= f.label :activity_frequency,'活動頻度' %>
  <%= f.text_field :activity_frequency %>
  <%= render 'shared/form_error_messages', object: f.object, attribute: :activity_frequency %>
  <%= f.label :homepage_url,'チームHP等' %>
  <%= f.text_area :homepage_url %>
  <%= render 'shared/form_error_messages', object: f.object, attribute: :homepage_url %>
  <%= f.label :other,'その他' %>
  <%= f.text_area :other, rows: 5 %>
  <%= render 'shared/form_error_messages', object: f.object, attribute: :other %>
  <%= f.submit yield(:button_text), class: "form-btn btn-orange" %>
<% end %>
