<div class="team-profile">
  <% if @team.image.attached? %>
    <%= image_tag(@team.image, size: "100x100", gravity: :center, crop: "100x100+0+0", class: "icon pc") %>
    <%= image_tag(@team.image, size: "70x70", gravity: :center, crop: "70x70+0+0", class: "icon sp") %>
  <% else %>
    <%= image_tag("default_team_image.webp", size: "100x100", gravity: :center, crop: "100x100+0+0", class: "icon pc") %>
    <%= image_tag("default_team_image.webp", size: "70x70", gravity: :center, crop: "70x70+0+0", class: "icon sp") %>
  <% end %>
  <table>
    <tr>
      <th>チーム名</th>
      <td><%= @team.name %></td>
    </tr>
    <tr>
      <th>チームレベル</th>
      <td><%= @team.level %></td>
    </tr>
    <tr>
      <th>活動エリア</th>
      <td><%= Prefecture.find(@team.prefecture_id).name %></td>
    </tr>
    <tr>
      <th>活動曜日</th>
      <td>
        <% weekly_columns.each_with_index do |day,i| %>
          <% if @team[day] == true %>
            <%= ["月","火","水","木","金","土","日"][i] %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>活動頻度</th>
      <td><%= @team.activity_frequency %></td>
    </tr>
    <tr>
      <th>チームHP等</th>
      <td><%= link_to @team.homepage_url, @team.homepage_url, target: :_blank, rel: "noopener noreferrer" %></td>
    </tr>
    <tr>
      <th>その他</th>
      <td><%= @team.other %></td>
    </tr>
  </table>
</div>
