<li class="team">
  <% if team.image.attached? && team.image.present? %>
    <%= image_tag(team.image, size: "50x50", gravity: :center, crop: "50x50+0+0", class: "icon pc") %>
		<%= image_tag(team.image, size: "30x30", gravity: :center, crop: "30x30+0+0", class: "icon sp") %>
  <% else %>
    <%= image_tag("default_team_image.webp", size: "50x50", gravity: :center, crop: "50x50+0+0", class: "icon pc") %>
    <%= image_tag("default_team_image.webp", size: "30x30", gravity: :center, crop: "30x30+0+0", class: "icon sp") %>
  <% end %>
  <div class="team__header">
    <%= link_to team.name, team %><br>
    <p><%= team.level %></p>
  </div>
  <% if current_user.already_belong?(team) %>
    <div class="status">
      所属済み
    </div>
  <% elsif current_user.already_requested?(team) %>
    <span class="btn__right--red">
      <%= link_to "申請を取り消す", user_member_request_path(team.id), method: :delete %>
    </span>
  <% else %>
    <span class="btn__right--orange">
      <%= link_to "所属申請をする", user_member_requests_path(team_id: team.id), method: :post %>
    </span>
  <% end %>
  <div class="team__body">
    活動エリア: <%= Prefecture.find(team.prefecture_id).name %><br>
    <% if team.admin_user_id? && admin = User.find(team.admin_user_id) %>
      チーム管理者: <%= admin.name %>
    <% end %>
  </div>
</li>
