<% provide(:title, 'チーム切り替え') %>
<%= render 'shared/error_messages' %>
<h2>チーム切り替え</h2>
<% if @belong_teams.present? %>
  <div class="teams">
    <div class="team-change">
      <span>
        <% @belong_teams.each do |belong_team| %>
          <%= link_to (switch_team_path(belong_team)), method: :post do %>
            <div class="team-change__list">
              <% if belong_team.image.attached? %>
                <%= image_tag(belong_team.image,  size: "25x25", gravity: :center, crop: "25x25+0+0", class: "icon pc") %>
                <%= image_tag(belong_team.image,  size: "20x20", gravity: :center, crop: "20x20+0+0", class: "icon sp") %>
              <% else %>
                <%= image_tag("default_team_image.webp",  size: "25x25", gravity: :center, crop: "25x25+0+0", class: "icon pc") %>
                <%= image_tag("default_team_image.webp",  size: "20x20", gravity: :center, crop: "20x20+0+0", class: "icon sp") %>
              <% end %>
              <%= belong_team.name %>
            </div>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
<% else %>
  <span class="center">
    <span class="no-content">
      チームに所属していません
    </span>
  </span>
<% end %>
