<% provide(:title, '試合リクエスト一覧') %>
<%= render 'shared/error_messages' %>
<h2>試合リクエスト一覧</h2>
<% if !@game_requests.present? %>
  <span class="center">
    <span class="no-content">試合リクエストはありません</span>
  </span>
<% else %>
  <ul class="teams">
    <% @game_requests.each do |game_request| %>
      <% @team = Team.find(game_request.requesting_team_id) %>
      <li class="team">
        <% if @team.image.attached? %>
          <%= image_tag(@team.image, size: "50x50", gravity: :center, crop: "50x50+0+0", class: "icon") %>
        <% else %>
          <%= image_tag("default_team_image.png", size: "50x50", gravity: :center, crop: "50x50+0+0", class: "icon") %>
        <% end %>
        <div class="team-header">
          <%= link_to @team.name, team_path(@team) %><br>
          <p><%= @team.level %></p>
        </div>
        <div class="team-body">
          活動エリア: <%= Prefecture.find(@team.prefecture_id).name %><br>
          活動曜日:
          <% weekly_columns.each_with_index do |day,i| %>
            <% if @team[day] == true %>
              <%= ["月","火","水","木","金","土","日"][i] %>
            <% end %>
          <% end %>
          <br>
          <% if @team.homepage_url.present? %>
            チームHP等: <%= link_to @team.homepage_url, @team.homepage_url, target: :_blank, rel: "noopener noreferrer" %><br>
          <% end %>
          <br>
          <% if game_request.contact_address.present? %>
            連絡先: <%= game_request.contact_address %><br>
          <% end %>
          <% if game_request.comment.present? %>
            コメント: <%= game_request.comment %><br>
          <% end %>
          <br>
          <% if game_request.image.present? %>
            <span class="center">
              <p>LINEQRコード等</p>
              <%= image_tag(game_request.image, class: "qr-preview") %>
            </span>
          <% end %>
        </div>
        <span class="btn-center">
          <span class="btn btn-red">
            <%= link_to "試合リクエストを削除する", game_request_path(game_request), method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </span>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>
<%= paginate @game_requests %>
