<% provide(:title, 'スケジュール管理') %>
<%= render 'shared/error_messages' %>
<div class="event-area">
  <%= current_team.name %> | スケジュール管理
  <% if current_team.events.present? %>
		<% if current_team.admin_user_id == current_user.id %>
			<span class="btn--navy">
				<%= link_to 'メンバーの表示順変更', edit_order_team_team_member_path(current_team)%>
			</span>
		<% end %>
    <div class="events">
      <table>
        <tr>
          <th class="events__fixed"></th>
          <th class="events__fixed--ok">◯</th>
          <th class="events__fixed--neither">△</th>
          <th class="events__fixed--ng">×</th>
          <% @team.users.order("team_members.event_order").each do |user| %>
						<% team_member = user.team_members.find_by(team: @team.id) %>
            <% if @current_team.admin_user_id == @current_user.id || user.id == @current_user.id %>
              <% if team_member.display_name.present? %>
                <th nowrap><%= link_to team_member.display_name, edit_team_team_member_path(team_member) %></th>
              <% else %>
                <th nowrap><%= link_to user.name, edit_team_team_member_path(team_member) %></th>
              <% end %>
            <% else %>
              <% if team_member.display_name.present? %>
                <th nowrap><%=team_member.display_name %></th>
              <% else %>
                <th nowrap><%= user.name %></th>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <% @events.sort_by(&:day_time).each do |event| %>
          <tr>
            <th class="events__fixed" id="event">
              <%= event.day_time.strftime('%m/%d') %>(<%= %w(日 月 火 水 木 金 土)[event.day_time.wday] %>)
              <%= event.day_time.strftime('%H:%M') %>
              <%= event.ground %>
              <% if event.opponent_team_name.present? %>
                VS<%= event.opponent_team_name %>
              <% end %>
              <%= event.tournament_name %>
              <%= event.other%>
              <% if @current_team.admin_user_id == @current_user.id %>
                <span class="events__beside">
                  <span class="btn--navy"><%= link_to "編集", edit_event_path(event) %></span>
                  <span class="btn--red"><%= link_to "削除", event_path(event), method: :delete, data: {confirm: "このスケジュールを削除しますか？"} %></span>
                </span>
              <% end %>
            </th>
            <% event_option = event.event_option %>
            <% event_option.calc_event_option_entry %>
            <td class="events__fixed--ok"><%= event_option.count_ok %></td>
            <td class="events__fixed--neither"><%= event_option.count_neither %></td>
            <td class="events__fixed--ng"><%= event_option.count_ng %></td>
						<% @team.users.order("team_members.event_order").each do |user| %>
							<% event_option_entry = user.event_entries.find_by(event_id: event.id).event_option_entry %>
							<%if event_option_entry.event_entry.user_id == current_user.id || current_team.admin_user_id == current_user.id %>
								<% if event_option_entry.None? %>
									<td nowrap class="entry"><%= link_to '&nbsp; - &nbsp;'.html_safe, edit_event_entry_path(user.id) %></td>
								<% else %>
									<td nowrap class="entry">
										<% if event_option_entry.NG? %>
											<span class="bg--red"><%= link_to '&nbsp; × &nbsp;'.html_safe, edit_event_entry_path(user.id) %></span>
										<% elsif event_option_entry.Neither? %>
											<span class="bg--yellow"><%= link_to '&nbsp; △ &nbsp;'.html_safe, edit_event_entry_path(user.id) %></span>
										<% elsif event_option_entry.OK? %>
											<span class="bg--green"><%= link_to '&nbsp; ◯ &nbsp;'.html_safe, edit_event_entry_path(user.id) %></span>
										<% end %>
									</td>
								<% end %>
							<% else %>
								<% if event_option_entry.None? %>
									<td nowrap class="entry">&nbsp; - &nbsp;</td>
								<% else %>
									<td nowrap class="entry">
										<% if event_option_entry.NG? %>
											<span class="bg--red">
												<p>&nbsp; × &nbsp;</p>
											</span>
										<% elsif event_option_entry.Neither? %>
											<span class="bg--yellow">
												<p>&nbsp; △ &nbsp;</p>
											</span>
										<% elsif event_option_entry.OK? %>
											<span class="bg--green">
												<p>&nbsp; ◯ &nbsp;</p>
											</span>
										<% end %>
									</td>
								<% end %>
							<% end %>
						<% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <span class="no-event">
      スケジュールが登録されていません
    </span>
  <% end %>
  <% if current_team.admin_user_id == current_user.id %>
    <span class="btn__margin-top--orange">
      <%= link_to '新しいスケジュールを登録する', new_event_path %>
    </span>
  <% end %>
	<span class="btn__margin-top--orange">
		<%= link_to '自分の出欠を変更する', edit_event_entry_path(current_user.id) %>
	</span>
	<div class="comment-area">
		<% @team.event_comments.includes(user: :team_members).sort_by(&:created_at).each do |event_comment| %>
			<span>
				<% team_member = event_comment.user.team_members.find_by(team: @team.id) %>
				<% if team_member.display_name.present? %>
					【<%= team_member.display_name %>】
				<% else %>
					【<%= event_comment.user.name %>】
				<% end %>
				<%= event_comment.comment %>
				[<%= event_comment.created_at.strftime('%m/%d') %>
				(<%= %w(日 月 火 水 木 金 土)[event_comment.created_at.wday] %>)
				<%= event_comment.created_at.strftime('%H:%M') %>]
				<% if event_comment.user_id == @current_user.id || event_comment.team.admin_user_id == @current_user.id %>
					<span class="btn--red"><%= link_to "削除", event_comment_path(event_comment), method: :delete, data: {confirm: "このコメントを削除しますか？"} %></span>
				<% end %>
			</span>
			<br>
		<% end %>
	</div>
	<div class="form__comment">
		<%= render 'event_comments/event_comments_form' %>
	</div>
</div>
